<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="2" category="frame" guid="75e52cac-dbbd-4f8c-9561-ce4017b9607d" />
    <filter name="FrameTemplate">
        <param edge="0.000000" alpha="1.000000">
            <point00 x="289" y="246" />
            <point01 x="768" y="246" />
            <point10 x="285" y="583" />
            <point11 x="768" y="582" />
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\Back_b.jpg" background2=".\media\Images\Back_a.jpg" />
        </filter>
    </filter>
</templates>
