<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="4" category="frame" guid="04a2e840-b0c0-4ed9-af4e-b7aac4fdc22f" />
    <filter name="FrameTemplate">
        <param edge="0.000000" alpha="1.000000">
            <point00 x="274" y="353" />
            <point01 x="710" y="360" />
            <point10 x="274" y="1013" />
            <point11 x="703" y="1010" />
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\BusStop_b.jpg" background2=".\media\Images\BusStop_w.jpg" />
        </filter>
    </filter>
</templates>
