<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="cat2" category="face" guid="1cc088a2-cfed-4838-a958-602134e72a80" />
    <filter name="FaceTemplate" type="change face">
        <param scale="1.000000" blend_edge="0.200000" />
        <filter name="FaceFilter">
            <param image=".\media\Images\cat2.jpg" config=".\media\Configurations\cat2.cfg" />
        </filter>
    </filter>
</templates>
