<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="1" category="frame" guid="aeea9dec-f93d-48d7-b1dd-8566b89a0ea5" />
    <filter name="FrameTemplate">
        <param edge="0.000000" alpha="1.000000">
            <point00 x="279" y="189" />
            <point01 x="843" y="176" />
            <point10 x="291" y="603" />
            <point11 x="842" y="673" />
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\Art_b.jpg" background2=".\media\Images\Art_a.jpg" />
        </filter>
    </filter>
</templates>
