<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame27" category="frame" guid="1a6241c8-1793-4be8-a2ea-3df66e34f537" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="0.964001">
            <point00 x="33" y="177" />
            <point01 x="301" y="143" />
            <point10 x="75" y="446" />
            <point11 x="334" y="399" />
            <maskclr r="20.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="1.071280">
                <point00 x="370" y="61" />
                <point01 x="684" y="98" />
                <point10 x="341" y="347" />
                <point11 x="646" y="381" />
                <maskclr r="10.000000" g="0.000000" b="0.000000" />
            </extra0>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\27.jpg" mask=".\media\Images\27.0-0-20.jpg" />
        </filter>
    </filter>
</templates>
