<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame22" category="frame" guid="ccc80b96-d387-4648-ac76-dedb394b76f1" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="1.466895">
            <point00 x="119" y="164" />
            <point01 x="334" y="90" />
            <point10 x="166" y="316" />
            <point11 x="387" y="244" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="1.424516">
                <point00 x="361" y="221" />
                <point01 x="534" y="257" />
                <point10 x="337" y="341" />
                <point11 x="504" y="382" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra0>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\22.jpg" mask=".\media\Images\22.0-0-20.jpg" />
        </filter>
    </filter>
</templates>
