<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame4" category="frame" guid="0c2acf02-8ee0-4c2d-8b14-91526a9b80e3" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="1.158525">
            <point00 x="-6" y="126" />
            <point01 x="192" y="-8" />
            <point10 x="122" y="280" />
            <point11 x="305" y="135" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="1.130823">
                <point00 x="210" y="165" />
                <point01 x="349" y="263" />
                <point10 x="127" y="296" />
                <point11 x="279" y="381" />
                <maskclr r="50.000000" g="0.000000" b="0.000000" />
            </extra0>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\4.jpg" mask=".\media\Images\4.0-0-20.jpg" />
        </filter>
    </filter>
</templates>
