<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame7" category="frame" guid="1a8d69d7-fd97-4361-90d5-0718f0bbd25d" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="1.264104">
            <point00 x="199" y="184" />
            <point01 x="379" y="165" />
            <point10 x="216" y="328" />
            <point11 x="399" y="305" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="0.733602">
                <point00 x="423" y="99" />
                <point01 x="587" y="118" />
                <point10 x="403" y="325" />
                <point11 x="568" y="338" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra0>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\7.jpg" mask=".\media\Images\7.0-0-20.jpg" />
        </filter>
    </filter>
</templates>
