<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame29" category="frame" guid="c881cf24-fea7-4ac9-a76e-f828f8e2a9d3" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="1.329807">
            <point00 x="23" y="208" />
            <point01 x="407" y="198" />
            <point10 x="26" y="496" />
            <point11 x="410" y="494" />
            <maskclr r="20.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="1.385145">
                <point00 x="310" y="25" />
                <point01 x="664" y="18" />
                <point10 x="318" y="279" />
                <point11 x="671" y="278" />
                <maskclr r="10.000000" g="0.000000" b="0.000000" />
            </extra0>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\29.jpg" mask=".\media\Images\29.0-0-20.jpg" />
        </filter>
    </filter>
</templates>
