<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame20" category="frame" guid="b9d2b50f-5494-45cc-acbc-450a56a4a2bd" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="0.612247">
            <point00 x="105" y="42" />
            <point01 x="190" y="58" />
            <point10 x="82" y="177" />
            <point11 x="164" y="194" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="0.615847">
                <point00 x="164" y="29" />
                <point01 x="252" y="12" />
                <point10 x="196" y="171" />
                <point11 x="283" y="151" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra0>
            <extra1 aspect="1.650835">
                <point00 x="252" y="45" />
                <point01 x="401" y="41" />
                <point10 x="258" y="132" />
                <point11 x="403" y="128" />
                <maskclr r="31.000000" g="1.000000" b="0.000000" />
            </extra1>
            <extra2 aspect="0.638121">
                <point00 x="422" y="36" />
                <point01 x="506" y="47" />
                <point10 x="409" y="165" />
                <point11 x="490" y="176" />
                <maskclr r="39.000000" g="0.000000" b="0.000000" />
            </extra2>
            <extra3 aspect="0.546518">
                <point00 x="55" y="151" />
                <point01 x="131" y="156" />
                <point10 x="45" y="285" />
                <point11 x="118" y="294" />
                <maskclr r="90.000000" g="0.000000" b="0.000000" />
            </extra3>
            <extra4 aspect="1.441605">
                <point00 x="124" y="127" />
                <point01 x="254" y="106" />
                <point10 x="136" y="217" />
                <point11 x="267" y="198" />
                <maskclr r="0.000000" g="0.000000" b="0.000000" />
            </extra4>
            <extra5 aspect="1.600134">
                <point00 x="233" y="100" />
                <point01 x="354" y="124" />
                <point10 x="216" y="177" />
                <point11 x="340" y="197" />
                <maskclr r="70.000000" g="0.000000" b="0.000000" />
            </extra5>
            <extra6 aspect="0.624529">
                <point00 x="317" y="130" />
                <point01 x="412" y="115" />
                <point10 x="350" y="267" />
                <point11 x="435" y="249" />
                <maskclr r="60.000000" g="0.000000" b="0.000000" />
            </extra6>
            <extra7 aspect="1.670312">
                <point00 x="403" y="157" />
                <point01 x="554" y="130" />
                <point10 x="421" y="240" />
                <point11 x="563" y="217" />
                <maskclr r="50.000000" g="0.000000" b="0.000000" />
            </extra7>
            <extra8 aspect="0.650988">
                <point00 x="33" y="302" />
                <point01 x="124" y="284" />
                <point10 x="66" y="437" />
                <point11 x="153" y="416" />
                <maskclr r="140.000000" g="0.000000" b="1.000000" />
            </extra8>
            <extra9 aspect="0.539155">
                <point00 x="123" y="180" />
                <point01 x="203" y="197" />
                <point10 x="99" y="328" />
                <point11 x="179" y="340" />
                <maskclr r="101.000000" g="1.000000" b="1.000000" />
            </extra9>
            <extra10 aspect="1.567929">
                <point00 x="194" y="199" />
                <point01 x="337" y="202" />
                <point10 x="196" y="287" />
                <point11 x="334" y="290" />
                <maskclr r="110.000000" g="0.000000" b="0.000000" />
            </extra10>
            <extra11 aspect="1.683831">
                <point00 x="151" y="276" />
                <point01 x="285" y="297" />
                <point10 x="138" y="356" />
                <point11 x="274" y="376" />
                <maskclr r="130.000000" g="0.000000" b="1.000000" />
            </extra11>
            <extra12 aspect="1.493188">
                <point00 x="270" y="280" />
                <point01 x="403" y="246" />
                <point10 x="294" y="369" />
                <point11 x="425" y="330" />
                <maskclr r="120.000000" g="0.000000" b="0.000000" />
            </extra12>
            <extra13 aspect="0.651615">
                <point00 x="465" y="267" />
                <point01 x="555" y="253" />
                <point10 x="485" y="402" />
                <point11 x="572" y="386" />
                <maskclr r="200.000000" g="1.000000" b="0.000000" />
            </extra13>
            <extra14 aspect="1.622363">
                <point00 x="122" y="384" />
                <point01 x="255" y="347" />
                <point10 x="148" y="465" />
                <point11 x="281" y="430" />
                <maskclr r="210.000000" g="0.000000" b="0.000000" />
            </extra14>
            <extra15 aspect="0.568320">
                <point00 x="264" y="312" />
                <point01 x="348" y="323" />
                <point10 x="243" y="465" />
                <point11 x="330" y="475" />
                <maskclr r="170.000000" g="0.000000" b="0.000000" />
            </extra15>
            <extra16 aspect="1.607622">
                <point00 x="323" y="334" />
                <point01 x="468" y="330" />
                <point10 x="323" y="423" />
                <point11 x="467" y="419" />
                <maskclr r="220.000000" g="0.000000" b="1.000000" />
            </extra16>
            <extra17 aspect="0.610898">
                <point00 x="406" y="368" />
                <point01 x="495" y="351" />
                <point10 x="436" y="506" />
                <point11 x="521" y="492" />
                <maskclr r="241.000000" g="0.000000" b="1.000000" />
            </extra17>
            <extra18 aspect="0.631278">
                <point00 x="115" y="396" />
                <point01 x="202" y="408" />
                <point10 x="94" y="533" />
                <point11 x="181" y="547" />
                <maskclr r="150.000000" g="0.000000" b="0.000000" />
            </extra18>
            <extra19 aspect="0.806874">
                <point00 x="179" y="454" />
                <point01 x="270" y="430" />
                <point10 x="209" y="563" />
                <point11 x="299" y="543" />
                <maskclr r="161.000000" g="1.000000" b="1.000000" />
            </extra19>
            <extra20 aspect="1.600173">
                <point00 x="254" y="489" />
                <point01 x="388" y="489" />
                <point10 x="253" y="575" />
                <point11 x="390" y="573" />
                <maskclr r="180.000000" g="1.000000" b="0.000000" />
            </extra20>
            <extra21 aspect="1.549022">
                <point00 x="286" y="419" />
                <point01 x="427" y="432" />
                <point10 x="281" y="509" />
                <point11 x="421" y="517" />
                <maskclr r="230.000000" g="0.000000" b="1.000000" />
            </extra21>
            <extra22 aspect="1.382715">
                <point00 x="360" y="496" />
                <point01 x="494" y="482" />
                <point10 x="376" y="587" />
                <point11 x="504" y="572" />
                <maskclr r="190.000000" g="1.000000" b="0.000000" />
            </extra22>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\20.jpg" mask=".\media\Images\20.0-0-240.jpg" />
        </filter>
    </filter>
</templates>
