<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame14" category="frame" guid="8f11e5a9-a79a-42c3-9584-7e70695e9fbd" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="0.745103">
            <point00 x="7" y="11" />
            <point01 x="194" y="11" />
            <point10 x="7" y="266" />
            <point11 x="198" y="264" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="0.792954">
                <point00 x="207" y="10" />
                <point01 x="399" y="9" />
                <point10 x="209" y="266" />
                <point11 x="411" y="267" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra0>
            <extra1 aspect="0.678146">
                <point00 x="410" y="11" />
                <point01 x="594" y="11" />
                <point10 x="418" y="268" />
                <point11 x="592" y="273" />
                <maskclr r="31.000000" g="1.000000" b="0.000000" />
            </extra1>
            <extra2 aspect="1.465657">
                <point00 x="8" y="277" />
                <point01 x="290" y="284" />
                <point10 x="11" y="468" />
                <point11 x="291" y="467" />
                <maskclr r="39.000000" g="0.000000" b="0.000000" />
            </extra2>
            <extra3 aspect="1.545442">
                <point00 x="304" y="285" />
                <point01 x="590" y="285" />
                <point10 x="303" y="471" />
                <point11 x="591" y="470" />
                <maskclr r="50.000000" g="0.000000" b="0.000000" />
            </extra3>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\14.jpg" mask=".\media\Images\14.0-0-50.jpg" />
        </filter>
    </filter>
</templates>
