<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame30" category="frame" guid="a87878f4-7699-4da6-850d-43e0125bedfa" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="1.368082">
            <point00 x="227" y="190" />
            <point01 x="422" y="189" />
            <point10 x="225" y="333" />
            <point11 x="421" y="337" />
            <maskclr r="20.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="1.283772">
                <point00 x="430" y="190" />
                <point01 x="619" y="193" />
                <point10 x="429" y="338" />
                <point11 x="619" y="338" />
                <maskclr r="10.000000" g="0.000000" b="0.000000" />
            </extra0>
            <extra1 aspect="1.414033">
                <point00 x="223" y="339" />
                <point01 x="422" y="346" />
                <point10 x="226" y="478" />
                <point11 x="424" y="481" />
                <maskclr r="31.000000" g="1.000000" b="0.000000" />
            </extra1>
            <extra2 aspect="1.375166">
                <point00 x="428" y="345" />
                <point01 x="617" y="348" />
                <point10 x="430" y="481" />
                <point11 x="618" y="485" />
                <maskclr r="39.000000" g="0.000000" b="0.000000" />
            </extra2>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\30.jpg" mask=".\media\Images\30.0-0-40.jpg" />
        </filter>
    </filter>
</templates>
