<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame5" category="frame" guid="24ed4395-d13b-40c8-b158-94a17ba62b3f" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="1.010067">
            <point00 x="57" y="184" />
            <point01 x="312" y="143" />
            <point10 x="105" y="442" />
            <point11 x="362" y="377" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="0.918251">
                <point00 x="293" y="228" />
                <point01 x="493" y="287" />
                <point10 x="240" y="429" />
                <point11 x="425" y="475" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra0>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\5.jpg" mask=".\media\Images\5.0-0-20.jpg" />
        </filter>
    </filter>
</templates>
