<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame35" category="frame" guid="ce243c18-3a30-4c21-b6bc-4b1cf9949e96" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="1.461064">
            <point00 x="72" y="63" />
            <point01 x="318" y="70" />
            <point10 x="72" y="231" />
            <point11 x="316" y="232" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="1.282692">
                <point00 x="74" y="246" />
                <point01 x="274" y="231" />
                <point10 x="89" y="405" />
                <point11 x="294" y="385" />
                <maskclr r="31.000000" g="1.000000" b="0.000000" />
            </extra0>
            <extra1 aspect="0.921876">
                <point00 x="328" y="68" />
                <point01 x="626" y="71" />
                <point10 x="330" y="387" />
                <point11 x="625" y="389" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra1>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\35.jpg" mask=".\media\Images\35.0-0-30.jpg" />
        </filter>
    </filter>
</templates>
