<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame12" category="frame" guid="badd6575-9723-4d77-9d69-24d8a438a318" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="1.085216">
            <point00 x="37" y="75" />
            <point01 x="217" y="80" />
            <point10 x="34" y="252" />
            <point11 x="225" y="253" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="1.143331">
                <point00 x="233" y="97" />
                <point01 x="417" y="91" />
                <point10 x="236" y="258" />
                <point11 x="421" y="250" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra0>
            <extra1 aspect="1.040992">
                <point00 x="445" y="77" />
                <point01 x="625" y="77" />
                <point10 x="440" y="247" />
                <point11 x="616" y="251" />
                <maskclr r="31.000000" g="1.000000" b="0.000000" />
            </extra1>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\12.jpg" mask=".\media\Images\12.0-0-30.jpg" />
        </filter>
    </filter>
</templates>
