<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame11" category="frame" guid="f50463fd-4791-40f5-9602-73cc59d4c416" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="1.540400">
            <point00 x="71" y="186" />
            <point01 x="292" y="182" />
            <point10 x="69" y="335" />
            <point11 x="296" y="335" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="1.444948">
                <point00 x="361" y="183" />
                <point01 x="589" y="185" />
                <point10 x="364" y="338" />
                <point11 x="587" y="336" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra0>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\11.jpg" mask=".\media\Images\11.0-0-20.jpg" />
        </filter>
    </filter>
</templates>
