<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame1" category="frame" guid="45fb72b9-5ba3-45e4-a487-46901ed8c102" />
    <filter name="FrameTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="1.009166">
            <point00 x="23" y="118" />
            <point01 x="203" y="30" />
            <point10 x="108" y="296" />
            <point11 x="289" y="213" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="1.004887">
                <point00 x="385" y="99" />
                <point01 x="586" y="93" />
                <point10 x="388" y="300" />
                <point11 x="591" y="297" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra0>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\1.jpg" mask=".\media\Images\1.0-0-20.jpg" />
        </filter>
    </filter>
</templates>
