<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame9" category="frame" guid="e7d54980-307e-477f-8a83-6e39da69e64b" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="1.027020">
            <point00 x="54" y="142" />
            <point01 x="203" y="130" />
            <point10 x="64" y="288" />
            <point11 x="213" y="279" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="0.994024">
                <point00 x="175" y="333" />
                <point01 x="313" y="335" />
                <point10 x="169" y="474" />
                <point11 x="308" y="482" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra0>
            <extra1 aspect="1.049335">
                <point00 x="333" y="316" />
                <point01 x="470" y="301" />
                <point10 x="345" y="450" />
                <point11 x="486" y="443" />
                <maskclr r="31.000000" g="1.000000" b="0.000000" />
            </extra1>
            <extra2 aspect="1.117973">
                <point00 x="480" y="452" />
                <point01 x="621" y="463" />
                <point10 x="462" y="580" />
                <point11 x="605" y="600" />
                <maskclr r="39.000000" g="0.000000" b="0.000000" />
            </extra2>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\9.jpg" mask=".\media\Images\9.0-0-40.jpg" />
        </filter>
    </filter>
</templates>
