<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame26" category="frame" guid="af56e2d8-2624-4b32-93c9-878ce493f459" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="0.861198">
            <point00 x="113" y="149" />
            <point01 x="235" y="91" />
            <point10 x="184" y="283" />
            <point11 x="300" y="223" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="0.992245">
                <point00 x="363" y="134" />
                <point01 x="498" y="131" />
                <point10 x="367" y="270" />
                <point11 x="502" y="269" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra0>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\26.jpg" mask=".\media\Images\26.0-0-20.jpg" />
        </filter>
    </filter>
</templates>
