<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame15" category="frame" guid="49f3df53-6c9b-4641-82e6-f7429af7c6aa" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="0.864341">
            <point00 x="175" y="618" />
            <point01 x="433" y="615" />
            <point10 x="187" y="897" />
            <point11 x="428" y="888" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="0.943384">
                <point00 x="576" y="654" />
                <point01 x="803" y="653" />
                <point10 x="580" y="885" />
                <point11 x="798" y="886" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra0>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\15.jpg" mask=".\media\Images\15.0-0-20.jpg" />
        </filter>
    </filter>
</templates>
