<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame17" category="frame" guid="68627c25-a7c7-47bb-840b-9f495db8f4d0" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="1.199708">
            <point00 x="78" y="91" />
            <point01 x="157" y="106" />
            <point10 x="61" y="156" />
            <point11 x="140" y="172" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="1.151820">
                <point00 x="172" y="134" />
                <point01 x="252" y="115" />
                <point10 x="188" y="203" />
                <point11 x="268" y="187" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra0>
            <extra1 aspect="1.291618">
                <point00 x="318" y="109" />
                <point01 x="414" y="146" />
                <point10 x="292" y="182" />
                <point11 x="385" y="219" />
                <maskclr r="31.000000" g="1.000000" b="0.000000" />
            </extra1>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\17.jpg" mask=".\media\Images\17.0-0-30.jpg" />
        </filter>
    </filter>
</templates>
