<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame18" category="frame" guid="6413f113-68b3-44a7-9406-be754e447ab8" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="0.700992">
            <point00 x="40" y="56" />
            <point01 x="162" y="93" />
            <point10 x="-11" y="228" />
            <point11 x="109" y="263" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="0.845228">
                <point00 x="183" y="71" />
                <point01 x="309" y="144" />
                <point10 x="100" y="219" />
                <point11 x="221" y="296" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra0>
            <extra1 aspect="0.746338">
                <point00 x="277" y="79" />
                <point01 x="388" y="57" />
                <point10 x="299" y="234" />
                <point11 x="415" y="220" />
                <maskclr r="31.000000" g="1.000000" b="0.000000" />
            </extra1>
            <extra2 aspect="0.717670">
                <point00 x="457" y="62" />
                <point01 x="560" y="106" />
                <point10 x="390" y="207" />
                <point11 x="495" y="253" />
                <maskclr r="39.000000" g="0.000000" b="0.000000" />
            </extra2>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\18.jpg" mask=".\media\Images\18.0-0-40.jpg" />
        </filter>
    </filter>
</templates>
