<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame21" category="frame" guid="1b200821-11ce-480b-a47b-8fdec590f955" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="1.185742">
            <point00 x="-37" y="51" />
            <point01 x="181" y="24" />
            <point10 x="-3" y="223" />
            <point11 x="203" y="195" />
            <maskclr r="31.000000" g="1.000000" b="0.000000" />
            <extra0 aspect="1.365252">
                <point00 x="20" y="185" />
                <point01 x="251" y="220" />
                <point10 x="-14" y="360" />
                <point11 x="227" y="394" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra0>
            <extra1 aspect="1.534258">
                <point00 x="5" y="379" />
                <point01 x="282" y="399" />
                <point10 x="-10" y="562" />
                <point11 x="271" y="582" />
                <maskclr r="10.000000" g="0.000000" b="0.000000" />
            </extra1>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\21.jpg" mask=".\media\Images\21.0-0-30.jpg" />
        </filter>
    </filter>
</templates>
