<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame23" category="frame" guid="d7f664cc-04f6-46f7-8028-53ef9ebc7512" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="1.137233">
            <point00 x="123" y="182" />
            <point01 x="450" y="190" />
            <point10 x="102" y="468" />
            <point11 x="429" y="482" />
            <maskclr r="20.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="1.132735">
                <point00 x="357" y="216" />
                <point01 x="680" y="186" />
                <point10 x="389" y="497" />
                <point11 x="708" y="468" />
                <maskclr r="10.000000" g="0.000000" b="0.000000" />
            </extra0>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\23.jpg" mask=".\media\Images\23.0-0-20.jpg" />
        </filter>
    </filter>
</templates>
