<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame6" category="frame" guid="7e05610b-ac01-4cc1-9426-3628a2ee4cec" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="1.056026">
            <point00 x="113" y="145" />
            <point01 x="326" y="123" />
            <point10 x="134" y="341" />
            <point11 x="342" y="319" />
            <maskclr r="20.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="1.039824">
                <point00 x="380" y="38" />
                <point01 x="576" y="98" />
                <point10 x="321" y="227" />
                <point11 x="516" y="295" />
                <maskclr r="10.000000" g="0.000000" b="0.000000" />
            </extra0>
            <extra1 aspect="1.070590">
                <point00 x="302" y="383" />
                <point01 x="505" y="350" />
                <point10 x="331" y="576" />
                <point11 x="537" y="542" />
                <maskclr r="31.000000" g="1.000000" b="0.000000" />
            </extra1>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\6.jpg" mask=".\media\Images\6.0-0-30.jpg" />
        </filter>
    </filter>
</templates>
