<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame25" category="frame" guid="64be8732-75af-43ea-a901-df1b8de317f6" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="0.924241">
            <point00 x="63" y="314" />
            <point01 x="183" y="317" />
            <point10 x="56" y="446" />
            <point11 x="178" y="453" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="0.882662">
                <point00 x="278" y="321" />
                <point01 x="394" y="305" />
                <point10 x="297" y="455" />
                <point11 x="415" y="441" />
                <maskclr r="31.000000" g="1.000000" b="0.000000" />
            </extra0>
            <extra1 aspect="0.917155">
                <point00 x="495" y="303" />
                <point01 x="613" y="300" />
                <point10 x="498" y="436" />
                <point11 x="620" y="432" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra1>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\25.jpg" mask=".\media\Images\25.0-0-30.jpg" />
        </filter>
    </filter>
</templates>
