<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame13" category="frame" guid="abff88ad-97a8-4ebb-8912-4829845c9fe0" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="0.921820">
            <point00 x="66" y="106" />
            <point01 x="284" y="77" />
            <point10 x="99" y="337" />
            <point11 x="312" y="308" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="0.927804">
                <point00 x="339" y="163" />
                <point01 x="552" y="184" />
                <point10 x="310" y="394" />
                <point11 x="524" y="416" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra0>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\13.jpg" mask=".\media\Images\13.0-0-20.jpg" />
        </filter>
    </filter>
</templates>
