<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame2" category="frame" guid="07596c10-cd63-4285-8bc7-e919e4c0237e" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="1.015309">
            <point00 x="44" y="290" />
            <point01 x="151" y="214" />
            <point10 x="124" y="400" />
            <point11 x="230" y="313" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="1.044550">
                <point00 x="268" y="255" />
                <point01 x="390" y="291" />
                <point10 x="224" y="376" />
                <point11 x="350" y="421" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra0>
            <extra1 aspect="1.022352">
                <point00 x="379" y="285" />
                <point01 x="514" y="283" />
                <point10 x="382" y="420" />
                <point11 x="520" y="417" />
                <maskclr r="31.000000" g="1.000000" b="0.000000" />
            </extra1>
            <extra2 aspect="1.055131">
                <point00 x="540" y="283" />
                <point01 x="665" y="248" />
                <point10 x="573" y="401" />
                <point11 x="698" y="368" />
                <maskclr r="39.000000" g="0.000000" b="0.000000" />
            </extra2>
            <extra3 aspect="1.014769">
                <point00 x="745" y="214" />
                <point01 x="872" y="254" />
                <point10 x="703" y="338" />
                <point11 x="828" y="382" />
                <maskclr r="50.000000" g="0.000000" b="0.000000" />
            </extra3>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\2.jpg" mask=".\media\Images\2.0-0-50.jpg" />
        </filter>
    </filter>
</templates>
