<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="MFrame19" category="frame" guid="35d1a455-51f1-4c54-a9cd-8855629693eb" />
    <filter name="ModalCollageTemplate">
        <param edge="0.000000" alpha="1.000000" aspect="0.661951">
            <point00 x="-43" y="47" />
            <point01 x="143" y="-10" />
            <point10 x="37" y="324" />
            <point11 x="217" y="260" />
            <maskclr r="10.000000" g="0.000000" b="0.000000" />
            <extra0 aspect="0.773295">
                <point00 x="208" y="166" />
                <point01 x="321" y="232" />
                <point10 x="123" y="322" />
                <point11 x="240" y="394" />
                <maskclr r="20.000000" g="0.000000" b="0.000000" />
            </extra0>
            <extra1 aspect="0.699920">
                <point00 x="291" y="256" />
                <point01 x="395" y="252" />
                <point10 x="298" y="403" />
                <point11 x="401" y="402" />
                <maskclr r="31.000000" g="1.000000" b="0.000000" />
            </extra1>
            <extra2 aspect="0.753035">
                <point00 x="478" y="214" />
                <point01 x="577" y="287" />
                <point10 x="367" y="356" />
                <point11 x="472" y="443" />
                <maskclr r="39.000000" g="0.000000" b="0.000000" />
            </extra2>
        </param>
        <filter name="FrameFilter">
            <param background=".\media\Images\19.jpg" mask=".\media\Images\19.0-0-40.jpg" />
        </filter>
    </filter>
</templates>
