<?xml version="1.0" encoding="UTF-8" ?>
<templates>
    <template name="test" category="frame" guid="628d4922-210c-42d6-b42c-09dc1f2af8bc" />
    <filter name="FrameTemplate">
        <param edge="0.000000" alpha="1.000000">
            <point00 x="107" y="599" />
            <point01 x="336" y="612" />
            <point10 x="118" y="321" />
            <point11 x="346" y="331" />
        </param>
        <filter name="FrameFilter">
            <param backgroud=".media\Images\frame1b.jpg" background2=".media\Images\frame1w.jpg" />
        </filter>
    </filter>
</templates>
